# Firebase
GoogleService-Info.plist

# Xcode secrets
*.xcconfig

# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Firebase Functions
functions/node_modules/
functions/lib/
functions/.env
functions/.runtimeconfig.json